ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=
TOKEN_ADDRESS=
BRIDGE_PRIVATE_KEY=
MINT_MODE=registered
ADMIN_ADDRESS=
MINTER_ADDRESS=
MAX_MINT_PER_TX=100000
DAILY_MINT_CAP=1000000
POINTS_TO_MINT=100
SHIPMENT_ID=SHIP-2026-000123
RUT_HASH=
USER_WALLET=
SOURCE_TIMESTAMP=
REPORT_FROM_BLOCK=0
REPORT_TO_BLOCK=
EXPECTED_CHAIN_ID=421614
MAX_TIMESTAMP_SKEW_SEC=86400
WEBHOOK_SECRET=
WEBHOOK_SIGNATURE=
EVENT_PAYLOAD_JSON=
REPORT_OUTPUT_PATH=reconciliation-report.json
REPORT_EXPECTED_CHAIN_ID=421614
SIGNER_MODE=private_key
KMS_SIGNER_ADDRESS=
SIGNER_SERVICE_URL=
BROADCAST_ENABLED=true
REPORT_HMAC_SECRET=
CI_HMAC_KEY_ID=
CI_HMAC_SECRET=
ARTIFACT_SIGNING_MODE=none
ARTIFACT_SIGNER=
